<p>
  product-list works!
</p>


<div>
  <span>ID  </span> <span>       NOMBRE</span>
</div>

<div *ngFor="let user of list">
  <ng-template [ngIf]="isShow(user)">

    <span>{{user.id}} </span> <span>     {{user.name}} </span>
  </ng-template>

    <div style="margin-bottom: 10px" *ngIf="!isShow(user)">
      Esta es la descripcion del usuario: {{user.id}}
    </div>

  <div style="margin-bottom: 10px" [hidden]="!isShow(user)">
    Esta es la descripcion del usuario no eliminada: {{user.id}}
  </div>

</div>
